.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
button{
  border: none;
  padding: .6rem 1.2rem;
  background: blue;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all .1s ease;
  display: inline-block;
}
.btn{
  display: block;
  background: #161b2a;
  padding: 1rem;
  margin: .5rem 1rem;
  border-radius: 5px;
}
.btn--delete{
  display: inline;
  margin-left: .5rem;
  background-color: crimson;
}
li{
  list-style: decimal ;
}
input,
input:focus{
  outline: none;
  border: none;
  padding: .25rem .25rem;
  font-size: 1.2rem;
  margin-bottom: .5rem;
}
.inline{
  display: inline;
}
.counter{
  display: flex;
}
button:hover{
  transform: translateY(-3px);
}
button:active{
  transform: translateY(-1.5px);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
